# Python
__pycache__/
*.pyc
.venv/
venv/

# Env & secrets
.env
*.env
!*.env.example

# Django
db.sqlite3
backend/logs/
backend/media/

# Node / frontend
node_modules/
dist/
*.local

# IDE
.idea/
.vscode/
